body {
    margin: 0;
    background: #001821;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
a {
    color: inherit;
    transition: all 0.4s;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1 h2 h3 h4 h5 h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}
.main_page_wrapper {
    background: url("./img/1.png") center top no-repeat, url("./img/2.png") center bottom 165px no-repeat;
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding-top: 30px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__col {
    display: flex;
    align-items: center;
}
.header__col_align_right {
    justify-content: flex-end;
}
.logo {
    display: block;
    margin-right: 78px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}
.menu__item_active .menu__link {
    color: #F5170E;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: #F5170E;
}
.contacts__call {
    color: #9A9A9A;
    font-size: 11px;
}
.contacts {
    text-align: right;
    font-style: normal;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
    line-height: 1.1;
}
.contacts__info {
    font-size: 13px;
    text-decoration: underline;
}
.hello {
    margin-bottom: 243px;
    
}
.hello__title {
    font-size: 73px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 49px;
    max-width: 517px;
    margin-top: 43px;
}
.hello__text {
    font-size: 18px;
    margin-bottom: 31px;
}
.button {
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}
.button:hover {
    background: #F5170E;
    box-shadow: 0 0 23px 0 rgba(192, 36, 1, 0.692);
}
.button_type_primary {
    background: #F5170E;
}
.button--light:hover {
    background: #F5170E;
    color: #fff;
}
.button--color--black {
    background: #2B2B2B;
    color: #fff;
}
.button--color--black:hover {
    background: #2B2B2B;
}
.title--fire {
    margin-bottom: 44px;
    display: flex;
    align-items: center;
}
.title--fire::after {
    content: "";
    display: block;
    width: 21px;
    height: 28px;
    background-image: url(./img/flame.png);
    margin-left: 12px;
}
.offers {
    margin-bottom: 116px;
}
.offers__item {
    min-height: 305px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
    color: #000000;
}
.offers__item:last-child {
    margin-right: 0;
}
.offers__header {
    min-height: 144px;
}
.offers__content {
    padding: 36px 30px;
}
.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 0;
}
.offers__icon_img {
    display: inline-block;
    vertical-align: middle;
}
.offers__features {
    margin-bottom: 10px;
}
.offers__feature {
    display: inline-block;
    vertical-align: top;
    width: 126px;
    margin-right: 30px;
}
.offers__feature:last-child {
    margin-right: 0;
}
.offers__feature-text {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.offers__text {
    margin-bottom: 44px;
    font-size: 14px;
    margin-top: 0;
}
.button--light {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
}
.news {
    margin-bottom: 152px;
}
.news_title {
    margin-left: 10px;
    margin-bottom: 46px;
}
.news__container {
    max-width: 1162px;
}
.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 22px;
}
.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 28px 41px;
    min-height: 164px;
}
.news__date {
    font-size: 14px;
    margin-bottom: 12px;
}
.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}
.news__text {
    font-size: 16px;
}
.news__list {
    margin-bottom: 57px;
}
.pagination {
    text-align: center;
}
.pagination_theme_light {
     color: #000000;
}

.pagination__display,.pagination__list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}
.pagination__display {
    margin-right: 9px;
    font-size: 16px;
}
.pagination__display_light {
    padding: 0px 15px;
}
.pagination__item {
    display: inline-block;
    vertical-align: middle;
}
.pagination__item_active .pagination__link, .pagination__item:hover 
.pagination__link {
    background: #fff;
    color: #F5170E;
}
.pagination_theme_light .pagination__item_active .pagination__link, .pagination_theme_light .pagination__item:hover .pagination__link{
    background: #F5170E;
    color: #fff;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.about__container {
    position: relative;
    text-align: right;
}
.about__container:before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: center center / cover no-repeat;
    background-image: url(./img/gates.png);
    position: absolute;
    top: 0;
    left: 0;

}
.about__content {
    padding: 80px 98px;
    background-image: url(./img/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 785px;
    color: black;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin-top: 119px;
    text-align: left;
}
p.about__text {
    margin-bottom: 46px;
}
.button_about {
    color: #fff;
}
.about {
    margin-bottom: 77px;
}
.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid rgba(255 255 255 /10%);
}
.footer__container_section {
    padding-top: 30px;
    padding-bottom: 90px;
}
.footer__container_services {
    padding-top: 48px;
    padding-bottom: 42px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__col {
    display: flex;
    align-items: center;
}
.footer__col_align_right {
    justify-content: flex-end;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials {
    display: flex;
    justify-content: center;
    margin-right: 78px
}
.socials__item:last-child {
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
/* Services page */

.top-line_header {
    padding-top: 27px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-line {
    min-height: 412px;
    background: url("./img/headline\ 1.jpg") right 10% top no-repeat;
    display: flex;
    padding-bottom: 24px;
}
.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}
.breadcrumbs__item_active .breadcrumbs__link {
    color: #9A9A9A;
    text-decoration: none;
}
.breadcrumbs__item:after {
    content: "/";
    color: #999;
}
.breadcrumbs__item:last-child:after {
    display: none;
}
.breadcrumbs__link {
    color: #F5170E;
    font-size: 14px;
}
 .page-content {
     background: #F2F2F2;
     color: #303030;
     padding: 84px 0;
 }
 .services {
    margin-bottom: 48px;
 }
 .services__item {
     margin-bottom: 22px;
 }
 .service {
    display: flex;
    padding: 10px 0;
    text-decoration: none;
 }
 .service:hover {
    background: rgb(218, 216, 216);
 }
 .service__img {
    width: 40%;
    margin-right: 5%;
 }
 .services__content {
    flex: 1;
 }
 .service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000000;
    margin-top: 12px;
 }
 .service__desc {
    line-height: 27px;
    margin-bottom: 34px;
    font-size: 16px;
 }
 .button_service {
     margin-top: 7px;
 }
 .button_services {
     margin-top: 3px;
 }
.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 73px 0;
 }
 .inner-section_bd_grey {
    background: #F4F5F5;
 }
 .inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
 }
 .iner-footer {
     margin-top: auto;
 }
 .partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -46px;
 }
 .parners__item {
    margin-left: 25px;
 }
 .partners__link {
     text-decoration: none;
     display: flex;
     width: 270px;
     height: 100px;
     align-items: center;
     justify-content: center;
     filter: grayscale(100%);
 }
 .partners__link:hover {
    filter: grayscale(0);
 }

/* reviews page */

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 70px;
}
.reviews__item {
    margin-bottom: 30px;
}
.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #e6e6e6;
}
.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 12px;
}
.review__user::after {
    content: url(./img/vk-blue\ 1.png);
    height: 29px;
    margin-left: 10px;
}
.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}
.review__userdata {
    margin-left: 15px;
}
.review__tags {
    display: flex;
    align-items: flex-start;
}
.tag {
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
}
.tag--bd--green {
    background: #B9EAE4;
}
.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 23px;
}
.review__content-text {
    margin-bottom: 50px;
}
.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}
.separator {
    background: url(./img/picmaps2.png) no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.separator__content {
    max-width: 55%;
}
.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}
.form__row {
    display: flex;
    margin-bottom: 30px;
}
.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input::placeholder {
    color: #666;
}
.form__input:last-child {
    margin-right: 0px;
}
.form__input--textare {
    height: 235px;
}
.form__conrols {
    display: flex;
    margin-bottom: 35px;
}
.form__controls-title {
    width: 37%;
    padding-left: 20px;
    font-size: 18px;
}
.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.controls__item {
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}
.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}
.controls__checkbox {
    display: none;
}
.form__button {
    margin-right: 20px;
}
.form__button:last-child {
    margin-right: 0;
}
.form__btns {
    display: flex;
    justify-content: flex-end;
}
.controls__tag {
    cursor: pointer;
}

/* Welcome page */

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./img/bg.png) center bottom / cover no-repeat;
}
.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: zoom 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.central__text {
    font-size: 18px;
    margin-bottom: 52px;
}
@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}